<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="estilo.css">
</head>
</head>

<body>
    <div class="container">
        <form method="POST">
            {{ form.csrf_token }}
    
                {{ form.email.label() }}
                {{ form.email() }}
    
                {{ form.nome.label() }}
                {{ form.nome() }}
    
                {{ form.senha.label() }}
                {{ form.senha() }}
    
                {{ form.confirmacao_senha.label() }}
                {{ form.confirmacao_senha() }}
    
                {{ form.botao_confirmacao }}
    
        </form>
    </div>

</body>
</html>