<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conversor de Medidas</title>
    <link rel="stylesheet" href="estilo.css">
</head>
<body>
    <div class="container">
        <h1>CALCULADORA</h1>
        <hr class="linha">
        <div class="input-grup">
            <label for="paciente">Nome do paciente:</label>
            <input type="text" id="paciente" name="paciente" placeholder="Digite algo">
        </div>

        <div class="input-grup">
            <label for="nome_medicamento">Nome do Medicamento:</label>
            <input type="text" id="nome_medicamento" name="nome_medicamento" placeholder="Digite algo">
        </div>

        <div class="input-grup">
            <label for="forma_adm">Forma de Administração:</label>
            <select name="forma_adm" id="forma_adm">
                <option value="via_oral">via oral</option>
                <option value="intramuscular">intramuscular</option>
                <option value="intravenoso">intravenoso</option>
                <option value="subcutaneo">subcutaneo</option>
            </select>
        </div>

        <div class="input-grup">
            <label for="lote">Lote do Medicamento:</label>
            <input type="number" id="lote" name="lote" placeholder="0">
        </div>

        <div class="input-grup">
            <label for="quantidade_prescrita">Quantidade Prescrita:</label>
            <input type="number" id="quantidade_prescrita" name="quantidade_prescrita" placeholder="0">
        </div>

        <div class="input-grup">
            <label for="unidade_prescrita">Medida Prescrita:</label>
            <select name="unidade_prescrita" id="unidade_prescrita">
                <option value="g">g</option>
                <option value="mg">mg</option>
                <option value="ug">ug</option>
                <option value="ml">ml</option>
                <option value="g/ml">g/ml</option>
                <option value="mg/ml">mg/ml</option>
                <option value="ug/ml">ug/ml</option>
            </select>
        </div>

        <div class="input-grup">
            <label for="quantidade_requerida">Quantidade Requerida:</label>
            <input type="number" id="quantidade_requerida" name="quantidade_requerida" placeholder="0">
        </div>

        <div class="input-grup">
            <label for="unidade_requerida">Medida final:</label>
            <select name="unidade_requerida" id="unidade_requerida">
                <option value="g">g</option>
                <option value="mg">mg</option>
                <option value="ug">l</option>
                <option value="ml">ml</option>
            </select>
        </div>

        <button id="calcular-btn">CALCULAR</button>
    </div>

    <div class="container">
        <h1>RESULTADO</h1>
        <hr class="linha">
        <h2></h2>
    </div>
    <div class="container">
        <h1>HISTÓRICO</h1>
        <hr class="linha">
        <h2></h2>
    </div>
</body>
</html>