<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login do Conversor de Medidas</title>
    <link rel="stylesheet" href="estilo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="container">
        <form method="POST">
            {{ form.csrf_token }}
    
                {{ form.email.label() }}
                {{ form.email() }}
    
                {{ form.senha.label() }}
                {{ form.senha() }}
    
                {{ form.botao_confirmacao }}
    
                
        </form>
        <div class="botao_link">
            <p class="link_cadastro">
                Não possui uma conta? <a href="cadastro.html">Clique aqui</a>
            </p>
    
            <button id="entrar-btn">ENTRAR</button>
        </div>
    </div>
    
</body>
</html>